# Cleaning Data

In [1]:
import pandas as pd
import datetime as dt
import glob
import os

## Data loading

In [2]:
#path to the files
path = "Tableau project resources/"

#reading the files
csv_files = glob.glob(os.path.join(path, "*.csv"))

In [3]:
csv_files

['Tableau project resources/JC-201701-citibike-tripdata.csv',
 'Tableau project resources/JC-202010-citibike-tripdata.csv',
 'Tableau project resources/JC-202006-citibike-tripdata.csv',
 'Tableau project resources/JC-202105-citibike-tripdata.csv',
 'Tableau project resources/JC-201902-citibike-tripdata.csv',
 'Tableau project resources/JC-201512-citibike-tripdata.csv',
 'Tableau project resources/JC-202203-citibike-tripdata.csv',
 'Tableau project resources/JC-201801-citibike-tripdata.csv',
 'Tableau project resources/JC-201709-citibike-tripdata.csv',
 'Tableau project resources/JC-201809-citibike-tripdata.csv',
 'Tableau project resources/JC-20161-citibike-tripdata.csv',
 'Tableau project resources/JC-201510-citibike-tripdata.csv',
 'Tableau project resources/JC-201803-citibike-tripdata.csv',
 'Tableau project resources/JC-202201-citibike-tripdata.csv',
 'Tableau project resources/JC-201703-citibike-tripdata.csv',
 'Tableau project resources/JC-202111-citibike-tripdata.csv',
 'Tableau project resources/JC-202012-citibike-tripdata.csv',
 'Tableau project resources/JC-202004-citibike-tripdata.csv',
 'Tableau project resources/JC-202107-citibike-tripdata.csv',
 'Tableau project resources/JC-201708 citibike-tripdata.csv',
 'Tableau project resources/JC-201908-citibike-tripdata.csv',
 'Tableau project resources/JC-20163-citibike-tripdata.csv',
 'Tableau project resources/JC-201608-citibike-tripdata.csv',
 'Tableau project resources/JC-202109-citibike-tripdata.csv',
 'Tableau project resources/JC-201606-citibike-tripdata.csv',
 'Tableau project resources/JC-201705-citibike-tripdata.csv',
 'Tableau project resources/JC-202101-citibike-tripdata.csv',
 'Tableau project resources/JC-201610-citibike-tripdata.csv',
 'Tableau project resources/JC-202002-citibike-tripdata.csv',
 'Tableau project resources/JC-201910-citibike-tripdata.csv',
 'Tableau project resources/JC-201805-citibike-tripdata.csv',
 'Tableau project resources/JC-201906-citibike-tripdata.csv',
 'Tableau project resources/JC-202008-citibike-tripdata.csv',
 'Tableau project resources/JC-201912-citibike-tripdata.csv',
 'Tableau project resources/JC-201811-citibike-tripdata.csv',
 'Tableau project resources/JC-202205-citibike-tripdata.csv',
 'Tableau project resources/JC-201807-citibike-tripdata.csv',
 'Tableau project resources/JC-201904-citibike-tripdata.csv',
 'Tableau project resources/JC-201604-citibike-tripdata.csv',
 'Tableau project resources/JC-201707-citibike-tripdata.csv',
 'Tableau project resources/JC-201711-citibike-tripdata.csv',
 'Tableau project resources/JC-202103-citibike-tripdata.csv',
 'Tableau project resources/JC-201612-citibike-tripdata.csv',
 'Tableau project resources/JC-201808-citibike-tripdata.csv',
 'Tableau project resources/JC-202007-citibike-tripdata.csv',
 'Tableau project resources/JC-202104-citibike-tripdata.csv',
 'Tableau project resources/JC-202112-citibike-tripdata.csv',
 'Tableau project resources/JC-202011-citibike-tripdata.csv',
 'Tableau project resources/JC-201903-citibike-tripdata.csv',
 'Tableau project resources/JC-202202-citibike-tripdata.csv',
 'Tableau project resources/JC-20162-citibike-tripdata.csv',
 'Tableau project resources/JC-201909-citibike-tripdata.csv',
 'Tableau project resources/JC-201609-citibike-tripdata.csv',
 'Tableau project resources/JC-201511-citibike-tripdata.csv',
 'Tableau project resources/JC-201901-citibike-tripdata.csv',
 'Tableau project resources/JC-201802-citibike-tripdata.csv',
 'Tableau project resources/JC-202005-citibike-tripdata.csv',
 'Tableau project resources/JC-202106-citibike-tripdata.csv',
 'Tableau project resources/JC-202110-citibike-tripdata.csv',
 'Tableau project resources/JC-201702-citibike-tripdata.csv',
 'Tableau project resources/JC-201712-citibike-tripdata.csv',
 'Tableau project resources/JC-202003-citibike-tripdata.csv',
 'Tableau project resources/JC-201611-citibike-tripdata.csv',
 'Tableau project resources/JC-201607-citibike-tripdata.csv',
 'Tableau project resources/JC-201704-citibike-tripdata.csv',
 'Tableau project resources/JC-201804-citibike-tripdata.csv',
 'Tableau project resources/JC-201907-citibike-tripdata.csv',
 'Tableau project resources/JC-201911-citibike-tripdata.csv',
 'Tableau project resources/JC-201812-citibike-tripdata.csv',
 'Tableau project resources/JC-202108-citibike-tripdata.csv',
 'Tableau project resources/JC-201509-citibike-tripdata.csv',
 'Tableau project resources/JC-202204-citibike-tripdata.csv',
 'Tableau project resources/JC-201806-citibike-tripdata.csv',
 'Tableau project resources/JC-201905-citibike-tripdata.csv',
 'Tableau project resources/JC-201810-citibike-tripdata.csv',
 'Tableau project resources/JC-202102-citibike-tripdata.csv',
 'Tableau project resources/JC-201710-citibike-tripdata.csv',
 'Tableau project resources/JC-202001-citibike-tripdata.csv',
 'Tableau project resources/JC-201605-citibike-tripdata.csv',
 'Tableau project resources/JC-201706-citibike-tripdata.csv',
 'Tableau project resources/JC-202009-citibike-tripdata.csv']

In [44]:
pd.read_csv("Tableau project resources/JC-202105-citibike-tripdata.csv").columns

Index(['ride_id', 'rideable_type', 'started_at', 'ended_at',
       'start_station_name', 'start_station_id', 'end_station_name',
       'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng',
       'member_casual'],
      dtype='object')

In [32]:
get_columns(pd.read_csv(csv_files[0])) == get_columns(pd.read_csv(csv_files[-1]))

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True, False, False])

In [4]:
def get_columns(data):
    columns = data.columns
    is_all_columns_lowercase = all([c.islower() for c in columns])
    if is_all_columns_lowercase:
        return columns
    cleaned_columns = []
    for column in columns:
        column_temp = column.split(" ")
        if len(column_temp) == 2:
            new_column = column.replace(" ", "").lower()
        elif len(column_temp)> 2:
            new_column = column.lower()
        cleaned_columns.append(new_column)
    return cleaned_columns
        
def get_clean_data(list_of_csv_files):
    columns = ['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender']
    
    list_of_pandas_data = []
    
    
    for file in list_of_csv_files:
        data = pd.read_csv(file)
        try:
            data.columns = columns
            list_of_pandas_data.append(data)
        except ValueError:
            print("skipping file - ", file, " due to columns mismatch")
    return pd.concat(list_of_pandas_data),

In [5]:
def get_columns(data):
    columns = data.columns
    is_all_columns_lowercase = all([c.islower() for c in columns])
    if is_all_columns_lowercase:
        return columns
    cleaned_columns = []
    for column in columns:
        column_temp = column.split(" ")
        if len(column_temp) == 2:
            new_column = column.replace(" ", "").lower()
        elif len(column_temp)> 2:
            new_column = column.lower()
        cleaned_columns.append(new_column)
    return cleaned_columns
        
def get_clean_data(list_of_csv_files):
    columns = ['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender']
    
    list_of_pandas_data = []
    skipped_pandas_data = []
    
    for file in list_of_csv_files:
        data = pd.read_csv(file)
        try:
            data.columns = columns
            list_of_pandas_data.append(data)
        except ValueError:
            skipped_pandas_data.append(data)
            print("skipping file - ", file, " due to columns mismatch")
    return (pd.concat(list_of_pandas_data), pd.concat(skipped_pandas_data))

In [6]:
len(csv_files)

81

In [7]:
list_of_pandas_data

NameError: name 'list_of_pandas_data' is not defined

In [8]:
new_data = get_clean_data(csv_files)

skipping file -  Tableau project resources/JC-202105-citibike-tripdata.csv  due to columns mismatch
skipping file -  Tableau project resources/JC-202203-citibike-tripdata.csv  due to columns mismatch
skipping file -  Tableau project resources/JC-202201-citibike-tripdata.csv  due to columns mismatch
skipping file -  Tableau project resources/JC-202111-citibike-tripdata.csv  due to columns mismatch
skipping file -  Tableau project resources/JC-202107-citibike-tripdata.csv  due to columns mismatch
skipping file -  Tableau project resources/JC-202109-citibike-tripdata.csv  due to columns mismatch
skipping file -  Tableau project resources/JC-202205-citibike-tripdata.csv  due to columns mismatch
skipping file -  Tableau project resources/JC-202103-citibike-tripdata.csv  due to columns mismatch
skipping file -  Tableau project resources/JC-202104-citibike-tripdata.csv  due to columns mismatch
skipping file -  Tableau project resources/JC-202112-citibike-tripdata.csv  due to columns mismatch
skipping file -  Tableau project resources/JC-202202-citibike-tripdata.csv  due to columns mismatch
skipping file -  Tableau project resources/JC-202106-citibike-tripdata.csv  due to columns mismatch
skipping file -  Tableau project resources/JC-202110-citibike-tripdata.csv  due to columns mismatch
skipping file -  Tableau project resources/JC-202108-citibike-tripdata.csv  due to columns mismatch
skipping file -  Tableau project resources/JC-202204-citibike-tripdata.csv  due to columns mismatch
skipping file -  Tableau project resources/JC-202102-citibike-tripdata.csv  due to columns mismatch

In [12]:
df1 = new_data[0]

In [13]:
new_data[1].columns

Index(['ride_id', 'rideable_type', 'started_at', 'ended_at',
       'start_station_name', 'start_station_id', 'end_station_name',
       'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng',
       'member_casual'],
      dtype='object')

In [51]:
pd.read_csv("Tableau project resources/JC-202102-citibike-tripdata.csv").columns

Index(['ride_id', 'rideable_type', 'started_at', 'ended_at',
       'start_station_name', 'start_station_id', 'end_station_name',
       'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng',
       'member_casual'],
      dtype='object')

In [14]:
new_data[0]

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,148,2017-01-01 00:21:32,2017-01-01 00:24:01,3276,Marin Light Rail,40.714584,-74.042817,3185,City Hall,40.717732,-74.043845,24575,Subscriber,1983.0,1
1,1283,2017-01-01 00:24:35,2017-01-01 00:45:58,3183,Exchange Place,40.716247,-74.033459,3198,Heights Elevator,40.748716,-74.040443,24723,Subscriber,1978.0,1
2,372,2017-01-01 00:38:19,2017-01-01 00:44:31,3183,Exchange Place,40.716247,-74.033459,3211,Newark Ave,40.721525,-74.046305,24620,Subscriber,1989.0,1
3,1513,2017-01-01 00:38:37,2017-01-01 01:03:50,3194,McGinley Square,40.725340,-74.067622,3271,Danforth Light Rail,40.692640,-74.088012,24668,Subscriber,1961.0,1
4,639,2017-01-01 01:47:52,2017-01-01 01:58:31,3183,Exchange Place,40.716247,-74.033459,3203,Hamilton Park,40.727596,-74.044247,26167,Subscriber,1993.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53828,270,2020-10-13 15:05:35.0860,2020-10-13 15:10:05.3430,3207,Oakland Ave,40.737604,-74.052478,3640,Journal Square,40.733670,-74.062500,44744,Subscriber,1963.0,2
53829,400,2020-10-13 15:09:03.4890,2020-10-13 15:15:43.9750,3209,Brunswick St,40.724176,-74.050656,3209,Brunswick St,40.724176,-74.050656,45345,Subscriber,1984.0,1
53830,206,2020-10-13 15:11:34.3500,2020-10-13 15:15:00.5030,3195,Sip Ave,40.730897,-74.063913,3194,McGinley Square,40.725340,-74.067622,47019,Subscriber,1993.0,1
53831,216,2020-10-13 15:11:49.1510,2020-10-13 15:15:25.6930,3195,Sip Ave,40.730897,-74.063913,3225,Baldwin at Montgomery,40.723659,-74.064194,42191,Subscriber,1966.0,1
53832,418,2020-10-13 15:12:31.7920,2020-10-13 15:19:30.5280,3267,Morris Canal,40.712419,-74.038526,3186,Grove St PATH,40.719586,-74.043117,47255,Subscriber,1991.0,1

In [15]:
df2 = new_data[1]

df2.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,74A4206E7487CBC9,docked_bike,2021-05-23 16:51:00,2021-05-23 18:38:21,9 St HBLR - Jackson St & 8 St,HB305,9 St HBLR - Jackson St & 8 St,HB305,40.747907,-74.038411,40.747907,-74.038412,casual
1,58EEE2950FFE01CE,docked_bike,2021-05-31 16:54:47,2021-05-31 16:55:28,9 St HBLR - Jackson St & 8 St,HB305,9 St HBLR - Jackson St & 8 St,HB305,40.747907,-74.038411,40.747907,-74.038412,member
2,1429D912C16EEE59,docked_bike,2021-05-25 16:19:34,2021-05-25 17:03:06,9 St HBLR - Jackson St & 8 St,HB305,9 St HBLR - Jackson St & 8 St,HB305,40.747907,-74.038411,40.747907,-74.038412,casual
3,FE9C5B74167CBCCD,docked_bike,2021-05-22 17:32:19,2021-05-22 17:41:27,9 St HBLR - Jackson St & 8 St,HB305,Grand St & 2 St,HB405,40.747907,-74.038411,40.739130,-74.036180,casual
4,B88D37626F000BBA,docked_bike,2021-05-14 09:48:34,2021-05-14 10:17:36,Union St,JC051,Newark Ave,JC032,40.718211,-74.083639,40.721525,-74.046305,casual

In [16]:

df1.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,148,2017-01-01 00:21:32,2017-01-01 00:24:01,3276,Marin Light Rail,40.714584,-74.042817,3185,City Hall,40.717732,-74.043845,24575,Subscriber,1983.0,1
1,1283,2017-01-01 00:24:35,2017-01-01 00:45:58,3183,Exchange Place,40.716247,-74.033459,3198,Heights Elevator,40.748716,-74.040443,24723,Subscriber,1978.0,1
2,372,2017-01-01 00:38:19,2017-01-01 00:44:31,3183,Exchange Place,40.716247,-74.033459,3211,Newark Ave,40.721525,-74.046305,24620,Subscriber,1989.0,1
3,1513,2017-01-01 00:38:37,2017-01-01 01:03:50,3194,McGinley Square,40.725340,-74.067622,3271,Danforth Light Rail,40.692640,-74.088012,24668,Subscriber,1961.0,1
4,639,2017-01-01 01:47:52,2017-01-01 01:58:31,3183,Exchange Place,40.716247,-74.033459,3203,Hamilton Park,40.727596,-74.044247,26167,Subscriber,1993.0,1

In [17]:
new_data[0].columns

Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')

In [18]:
df1.columns

Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')

In [19]:
for i in df1.columns:
    print (i)

tripduration
starttime
stoptime
start station id
start station name
start station latitude
start station longitude
end station id
end station name
end station latitude
end station longitude
bikeid
usertype
birth year
gender

In [20]:
tripduration
"starttime":"started_at"
"stoptime":"ended_at"
"start station id":"start_station_id"
"start station name":"start_station_name"
"start station latitude":"start_lat"
"start station longitude":"start_lng"
"end station id":"end_station_id"
"end station name":"end_station_name"
"end station latitude":"end_lat"
"end station longitude":"end_lng"
"bikeid":"ride_id"
"usertype":"member_casual"
birth year
gender

SyntaxError: illegal target for annotation (2653757645.py, line 2)

In [21]:
for i in df2.columns:
    print (i)

ride_id
rideable_type
started_at
ended_at
start_station_name
start_station_id
end_station_name
end_station_id
start_lat
start_lng
end_lat
end_lng
member_casual

In [22]:
df2.columns

Index(['ride_id', 'rideable_type', 'started_at', 'ended_at',
       'start_station_name', 'start_station_id', 'end_station_name',
       'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng',
       'member_casual'],
      dtype='object')

In [23]:
df1.rename(columns={"starttime":"started_at",
"stoptime":"ended_at",
"start station id":"start_station_id",
"start station name":"start_station_name",
"start station latitude":"start_lat",
"start station longitude":"start_lng",
"end station id":"end_station_id",
"end station name":"end_station_name",
"end station latitude":"end_lat",
"end station longitude":"end_lng",
"bikeid":"ride_id",
"usertype":"member_casual"
}, errors="raise")

,tripduration,started_at,ended_at,start_station_id,start_station_name,start_lat,start_lng,end_station_id,end_station_name,end_lat,end_lng,ride_id,member_casual,birth year,gender
0,148,2017-01-01 00:21:32,2017-01-01 00:24:01,3276,Marin Light Rail,40.714584,-74.042817,3185,City Hall,40.717732,-74.043845,24575,Subscriber,1983.0,1
1,1283,2017-01-01 00:24:35,2017-01-01 00:45:58,3183,Exchange Place,40.716247,-74.033459,3198,Heights Elevator,40.748716,-74.040443,24723,Subscriber,1978.0,1
2,372,2017-01-01 00:38:19,2017-01-01 00:44:31,3183,Exchange Place,40.716247,-74.033459,3211,Newark Ave,40.721525,-74.046305,24620,Subscriber,1989.0,1
3,1513,2017-01-01 00:38:37,2017-01-01 01:03:50,3194,McGinley Square,40.725340,-74.067622,3271,Danforth Light Rail,40.692640,-74.088012,24668,Subscriber,1961.0,1
4,639,2017-01-01 01:47:52,2017-01-01 01:58:31,3183,Exchange Place,40.716247,-74.033459,3203,Hamilton Park,40.727596,-74.044247,26167,Subscriber,1993.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53828,270,2020-10-13 15:05:35.0860,2020-10-13 15:10:05.3430,3207,Oakland Ave,40.737604,-74.052478,3640,Journal Square,40.733670,-74.062500,44744,Subscriber,1963.0,2
53829,400,2020-10-13 15:09:03.4890,2020-10-13 15:15:43.9750,3209,Brunswick St,40.724176,-74.050656,3209,Brunswick St,40.724176,-74.050656,45345,Subscriber,1984.0,1
53830,206,2020-10-13 15:11:34.3500,2020-10-13 15:15:00.5030,3195,Sip Ave,40.730897,-74.063913,3194,McGinley Square,40.725340,-74.067622,47019,Subscriber,1993.0,1
53831,216,2020-10-13 15:11:49.1510,2020-10-13 15:15:25.6930,3195,Sip Ave,40.730897,-74.063913,3225,Baldwin at Montgomery,40.723659,-74.064194,42191,Subscriber,1966.0,1
53832,418,2020-10-13 15:12:31.7920,2020-10-13 15:19:30.5280,3267,Morris Canal,40.712419,-74.038526,3186,Grove St PATH,40.719586,-74.043117,47255,Subscriber,1991.0,1

In [26]:
df2

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,74A4206E7487CBC9,docked_bike,2021-05-23 16:51:00,2021-05-23 18:38:21,9 St HBLR - Jackson St & 8 St,HB305,9 St HBLR - Jackson St & 8 St,HB305,40.747907,-74.038411,40.747907,-74.038412,casual
1,58EEE2950FFE01CE,docked_bike,2021-05-31 16:54:47,2021-05-31 16:55:28,9 St HBLR - Jackson St & 8 St,HB305,9 St HBLR - Jackson St & 8 St,HB305,40.747907,-74.038411,40.747907,-74.038412,member
2,1429D912C16EEE59,docked_bike,2021-05-25 16:19:34,2021-05-25 17:03:06,9 St HBLR - Jackson St & 8 St,HB305,9 St HBLR - Jackson St & 8 St,HB305,40.747907,-74.038411,40.747907,-74.038412,casual
3,FE9C5B74167CBCCD,docked_bike,2021-05-22 17:32:19,2021-05-22 17:41:27,9 St HBLR - Jackson St & 8 St,HB305,Grand St & 2 St,HB405,40.747907,-74.038411,40.739130,-74.036180,casual
4,B88D37626F000BBA,docked_bike,2021-05-14 09:48:34,2021-05-14 10:17:36,Union St,JC051,Newark Ave,JC032,40.718211,-74.083639,40.721525,-74.046305,casual
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4876,3F8FD9A051C0E3DA,docked_bike,2021-02-24 18:05:45,2021-02-24 18:12:27,Columbus Drive,JC014,Newport Pkwy,JC008,40.718355,-74.038914,40.728745,-74.032108,member
4877,B91F3593C0C06D04,docked_bike,2021-02-22 18:22:04,2021-02-22 18:28:45,Columbus Drive,JC014,Newport Pkwy,JC008,40.718355,-74.038914,40.728745,-74.032108,member
4878,A790954A017D07CB,docked_bike,2021-02-13 12:21:49,2021-02-13 12:27:51,Columbus Drive,JC014,Newport Pkwy,JC008,40.718355,-74.038914,40.728745,-74.032108,member
4879,42B1932D06CEE034,docked_bike,2021-02-25 11:20:29,2021-02-25 11:25:23,Columbus Drive,JC014,Morris Canal,JC072,40.718355,-74.038914,40.712419,-74.038526,member
4880,F71732ECE7CD02CF,docked_bike,2021-02-19 13:59:22,2021-02-19 14:05:47,Columbus Drive,JC014,Newport Pkwy,JC008,40.718355,-74.038914,40.728745,-74.032108,member

In [27]:
len(pd.read_csv(csv_files[0]).head().columns)

15

In [28]:
pd.read_csv(csv_files[-1]).head().columns

Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')

In [31]:
bike_data =new_data[0]

## Data Formatting and cleanig

In [32]:
bike_data.dtypes

tripduration                 int64
starttime                   object
stoptime                    object
start station id             int64
start station name          object
start station latitude     float64
start station longitude    float64
end station id               int64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                 float64
gender                       int64
dtype: object

In [48]:
bike_data.columns

Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender', 'year_of_ride', 'ride_month', 'rider_age'],
      dtype='object')

In [33]:
bike_data.rename(columns={'trip duration':'trip duration (seconds)'}, inplace=False,)
#converting starttime, stoptime and birth year to datetime datatype
bike_data['starttime'] =  pd.to_datetime(bike_data['starttime'])
bike_data['stoptime'] =  pd.to_datetime(bike_data['stoptime'])

#Gender (Zero=unknown; 1=male; 2=female). replacing numbers with stringers
bike_data["gender"]= bike_data["gender"].astype(str)
bike_data['gender'].replace({'1': 'Male', '2': 'Female','0':'Unknown'}, inplace=True)

bike_data.dtypes

tripduration                        int64
starttime                  datetime64[ns]
stoptime                   datetime64[ns]
start station id                    int64
start station name                 object
start station latitude            float64
start station longitude           float64
end station id                      int64
end station name                   object
end station latitude              float64
end station longitude             float64
bikeid                              int64
usertype                           object
birth year                        float64
gender                             object
dtype: object

In [34]:
bike_data.head(-5)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,148,2017-01-01 00:21:32.000,2017-01-01 00:24:01.000,3276,Marin Light Rail,40.714584,-74.042817,3185,City Hall,40.717732,-74.043845,24575,Subscriber,1983.0,Male
1,1283,2017-01-01 00:24:35.000,2017-01-01 00:45:58.000,3183,Exchange Place,40.716247,-74.033459,3198,Heights Elevator,40.748716,-74.040443,24723,Subscriber,1978.0,Male
2,372,2017-01-01 00:38:19.000,2017-01-01 00:44:31.000,3183,Exchange Place,40.716247,-74.033459,3211,Newark Ave,40.721525,-74.046305,24620,Subscriber,1989.0,Male
3,1513,2017-01-01 00:38:37.000,2017-01-01 01:03:50.000,3194,McGinley Square,40.725340,-74.067622,3271,Danforth Light Rail,40.692640,-74.088012,24668,Subscriber,1961.0,Male
4,639,2017-01-01 01:47:52.000,2017-01-01 01:58:31.000,3183,Exchange Place,40.716247,-74.033459,3203,Hamilton Park,40.727596,-74.044247,26167,Subscriber,1993.0,Male
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53823,76,2020-10-13 14:58:27.752,2020-10-13 14:59:44.497,3185,City Hall,40.717732,-74.043845,3185,City Hall,40.717732,-74.043845,44737,Subscriber,1976.0,Male
53824,305,2020-10-13 15:00:09.324,2020-10-13 15:05:15.147,3186,Grove St PATH,40.719586,-74.043117,3203,Hamilton Park,40.727596,-74.044247,42213,Subscriber,1996.0,Male
53825,99,2020-10-13 15:00:35.926,2020-10-13 15:02:15.318,3185,City Hall,40.717732,-74.043845,3185,City Hall,40.717732,-74.043845,44347,Subscriber,1976.0,Male
53826,492,2020-10-13 15:03:05.322,2020-10-13 15:11:18.061,3195,Sip Ave,40.730897,-74.063913,3225,Baldwin at Montgomery,40.723659,-74.064194,46598,Customer,1998.0,Male
53827,715,2020-10-13 15:04:16.840,2020-10-13 15:16:12.387,3185,City Hall,40.717732,-74.043845,3269,Brunswick & 6th,40.726012,-74.050389,44737,Subscriber,1976.0,Male

In [35]:
#inserting year of ride and month of ride columns
bike_data['year_of_ride'] = pd.to_datetime(bike_data['starttime']).dt.year
bike_data['ride_month'] = pd.to_datetime(bike_data['starttime']).dt.month

#calculating rider age at the time of the ride
bike_data["rider_age"] = bike_data['year_of_ride']-bike_data['birth year']
bike_data.head(-5)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,year_of_ride,ride_month,rider_age
0,148,2017-01-01 00:21:32.000,2017-01-01 00:24:01.000,3276,Marin Light Rail,40.714584,-74.042817,3185,City Hall,40.717732,-74.043845,24575,Subscriber,1983.0,Male,2017,1,34.0
1,1283,2017-01-01 00:24:35.000,2017-01-01 00:45:58.000,3183,Exchange Place,40.716247,-74.033459,3198,Heights Elevator,40.748716,-74.040443,24723,Subscriber,1978.0,Male,2017,1,39.0
2,372,2017-01-01 00:38:19.000,2017-01-01 00:44:31.000,3183,Exchange Place,40.716247,-74.033459,3211,Newark Ave,40.721525,-74.046305,24620,Subscriber,1989.0,Male,2017,1,28.0
3,1513,2017-01-01 00:38:37.000,2017-01-01 01:03:50.000,3194,McGinley Square,40.725340,-74.067622,3271,Danforth Light Rail,40.692640,-74.088012,24668,Subscriber,1961.0,Male,2017,1,56.0
4,639,2017-01-01 01:47:52.000,2017-01-01 01:58:31.000,3183,Exchange Place,40.716247,-74.033459,3203,Hamilton Park,40.727596,-74.044247,26167,Subscriber,1993.0,Male,2017,1,24.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53823,76,2020-10-13 14:58:27.752,2020-10-13 14:59:44.497,3185,City Hall,40.717732,-74.043845,3185,City Hall,40.717732,-74.043845,44737,Subscriber,1976.0,Male,2020,10,44.0
53824,305,2020-10-13 15:00:09.324,2020-10-13 15:05:15.147,3186,Grove St PATH,40.719586,-74.043117,3203,Hamilton Park,40.727596,-74.044247,42213,Subscriber,1996.0,Male,2020,10,24.0
53825,99,2020-10-13 15:00:35.926,2020-10-13 15:02:15.318,3185,City Hall,40.717732,-74.043845,3185,City Hall,40.717732,-74.043845,44347,Subscriber,1976.0,Male,2020,10,44.0
53826,492,2020-10-13 15:03:05.322,2020-10-13 15:11:18.061,3195,Sip Ave,40.730897,-74.063913,3225,Baldwin at Montgomery,40.723659,-74.064194,46598,Customer,1998.0,Male,2020,10,22.0
53827,715,2020-10-13 15:04:16.840,2020-10-13 15:16:12.387,3185,City Hall,40.717732,-74.043845,3269,Brunswick & 6th,40.726012,-74.050389,44737,Subscriber,1976.0,Male,2020,10,44.0

In [36]:
bike_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1702660 entries, 0 to 53832
Data columns (total 18 columns):
 #   Column                   Dtype
---  ------                   -----
 0   tripduration             int64
 1   starttime                datetime64[ns]
 2   stoptime                 datetime64[ns]
 3   start station id         int64
 4   start station name       object
 5   start station latitude   float64
 6   start station longitude  float64
 7   end station id           int64
 8   end station name         object
 9   end station latitude     float64
 10  end station longitude    float64
 11  bikeid                   int64
 12  usertype                 object
 13  birth year               float64
 14  gender                   object
 15  year_of_ride             int64
 16  ride_month               int64
 17  rider_age                float64
dtypes: datetime64[ns](2), float64(6), int64(6), object(4)
memory usage: 246.8+ MB

In [46]:
bike_data.to_csv('Resources/bike_data2.csv',index=False)

In [38]:
bike_data["year_of_ride"].unique()

array([2017, 2020, 2019, 2015, 2018, 2016, 2021])

In [39]:
ls

Clean-Data/                           Resources/
ERDiagram/                            Tableau project resources/
ETL - Covid in US Prisons Report.pdf  Tableau_data_cleaning practice/
LICENSE                               __pycache__/
LOAD.txt                              etl_pipeline.ipynb
PROPOSAL.md                           pg_keys.py
README.md

-------------------------------------------

--------------------------------------------------------

# LOAD - DB

## our 8 tables
* bike_data

In [40]:
from sqlalchemy import create_engine
import pandas.io.sql as sqlio
import psycopg2 as ps
from pg_keys import pg_key

In [41]:
engine = create_engine(f"postgresql://postgres:{pg_key}@localhost/citi_bike_db")

In [42]:
con=engine.connect()

## loading SS data

In [43]:
bike_data.to_sql("citi_bike_data", 
                   con = engine, 
                   if_exists = 'replace', 
                   index = False,
                             )

--------------------------------------------------------

## QUERY THE DB

In [44]:
##testing database
pd.read_sql_query("""select tripduration, rider_age from citi_bike_data""", con=engine).head()

   tripduration  rider_age
0           148       34.0
1          1283       39.0
2           372       28.0
3          1513       56.0
4           639       24.0

In [45]:
con.close()

--------------------------------------------------------------
ETL BY KUDZANAI